<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>PouchDB Test</title>

    <!--Application CSS Files-->
    {% for cssFile in assets.main.css %}
        <link rel="stylesheet" href="{{cssFile}}">
    {% endfor %}

</head>
<body>


    <h1>{{ title }}</h1>
    <p>Welcome to the {{ title }}</p>


    <!--Application JS Files-->
    {% for jsFile in assets.main.js %}
        <script type="text/javascript" src="{{jsFile}}"></script>
    {% endfor %}
</body>
</html>